html{
    background:rgb(175, 175, 175);
    color:black;
    font-family: 'Teko', sans-serif;
}
body{
    background:white;
    border: solid black 3px;
    margin:5%;
    padding: 5%;
    box-shadow: 0em 0.5em 0.8em;
}
img{
    float: right;
    width: 30%;
}
strong{
    font-style: normal;
}
h1{
    
    color:rgb(175, 175, 175);
    text-shadow: 1px 1px 0em black;
}
a{
    color: black;
}
a:hover{
    color:blue
}

@media screen and (max-width: 600px){
    .pouf{
        display:none
    }
}

